# save as .github/workflows/NixOS.yml
name: NixOS

on:
  push:
    branches:
          - main
          - master
          - 'releases/**'
  pull_request:
jobs:
  launch:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - run: nix-shell -p rakudo zef git curl wget gcc gnumake readline zlib openssl cacert zeromq --run "zef --debug install LibraryMake:auth<zef:jjmerelo>"
    - run: nix-shell -p rakudo zef git curl wget gcc gnumake readline zlib openssl cacert zeromq --run "zef --debug install Jupyter::Chatbook:auth<zef:antononcube>"
